.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  animation: slideIn 1s ease forwards;
  background-color: #967a18;
}

.header-title {
  font-size: 29px;
}

/* appointment List */
.table {
  margin-top: 40px;
  width: 100%;
  border-collapse: separate;
  font-size: 0.8em;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  overflow-x: auto;
}

.table thead th {
  color: black;
}

.table tbody td {
  font-size: 15px;
  padding: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.table tbody tr {
  background-color: #ffffffea;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #dddddd;
}

/* Combo box */
.select-container {
  display: flex;
  justify-content: left;
  position: relative;
  margin-top: 40px;
  margin-left: 12px;
  min-width: 250px;
  height: 40px;
}

/* Inventory Header */
.inventory-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  color: black;
}

.add-services-btn {
  background-color: #f3c623;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.add-services-btn .material-icons-outlined {
  margin-right: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 8px;
}

#addGroomForm input, 
#editGroomForm input,
#addVeterinaryForm input,
#editVeterinaryForm input {
  width: 95%;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  letter-spacing: 1px;
}

/* Button */
#addGroomModal button,
#editGroomModal button,
#addVeterinaryModal button,
#editVeterinaryModal button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block; /* Make the button block-level */
  margin: 0 auto;
}

/* Align label and input in a row */
.size-input {
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
}

/* Style for the label */
.size-input label {
  width: 100px; /* Adjust the width of the label */
  margin-right: 10px; /* Add space between label and input */
}

/* Style for the input */
.size-input input {
  width: 150px; /* Set a fixed width for the input */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  letter-spacing: 1px;
}

/* Optional: To make the labels bold */
.size-input label {
  font-weight: bold;
}

.edit-btn,
.delete-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.edit-btn img,
.delete-btn img {
  width: 20px;
}